# Formal methods component (Blaster)
# Part of {{ project_name }}

build:
    blaster compile spec/

test:
    blaster verify spec/

dev:
    @echo "Blaster does not have a watch mode. Run 'just test' to verify specs."

clean:
    rm -rf build/
